:root {
  font-size: 110%;
  letter-spacing: 0.2rem;
  font-family: "Halant";
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
}

* {
  outline: none;
  padding: 0;
  margin: 0;
}

/* @media (max-width: 700px) { */
.main__noteblock--expanded {
  width: 72vw;
  max-width: 822px;
  height: 62vh;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: #272727;
}

.main__noteblock-header {
  display: flex;
  justify-content: space-around;
  margin: 2vh 0;
}
.main__noteblock__heading--editable {
  width: 60vw;
  height: 6vh;
  font-family: "Halant";
  font-size: 2rem;
  color: white;
  background: none;
  border: solid 1px red;
}

.main__noteblock__heading--editable::placeholder {
  font-size: 2rem;
  font-family: "Halant";
  color: white;
}

.main__noteblock__text--editable {
  width: 70vw;
  max-width: 780px;
  height: 50vh;
  margin: 1vw;
  font-size: 1rem;
  font-family: "Nunito Sans";
  color: rgba(1000, 1000, 1000, 0.6);
  background: none;
  border: none;
}

.main__noteblock--preview{
  height: 15vh;
}

.save-button {
  border: none;
  background: none;
}

.save-button-img {
  width: 40px;
  height: 40px;
}
/* } */
